
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Calculadora</h1>
        <hr>
        <form action="~/Calc/Result" method="post">
            <label for="txtNumero1">Digite o primeiro número</label>
            <input type="number" name="txtNumero1" />
            <br /><br />
            <label for="txtNumero2">Digite o segundo número</label>
            <input type="number" name="txtNumero2" />
            <br /> <br />
            <input type="submit" name="Calcular" value="+" />
            <input type="submit" name="Calcular" value="-" />
            <input type="submit" name="Calcular" value="*" />
            <input type="submit" name="Calcular" value="/" />

        </form>
    </div>
</body>
</html>
